body {
  font-family: 'Poppins', sans-serif;
  background-color: #f5f6fa;
  color: #2f3640;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

input {
    width: 95%;
    padding: 8px;
    margin: 8px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 1em;
}

.container {
  width: 350px;
  background: #fff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

h1, h2, h3, h4 {
  text-align: center;
}

.summary {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.money.plus {
  color: green;
}

.money.minus {
  color: red;
}

#transactions {
  list-style-type: none;
  padding: 0;
}

#transactions li {
  background: #eee;
  padding: 10px;
  border-radius: 8px;
  margin: 8px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  width: 100%;
  background-color: #2e86de;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}

li button {
  width: 50%;
  background-color: #2e86de;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #1b4f72;
}

select {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1em;
}
